@import "reset";

@import "src/app/styles/variables/global";

@import "src/app/styles/themes/dark";

@import "src/app/styles/themes/light";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--bg-color);
    min-height: 100vh;
    transition: background-color .2s ease;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 1.25rem;
}