@import "reset";
@import "src/app/styles/variables/global";
@import "src/app/styles/themes/dark";
@import "src/app/styles/themes/light";
@import "src/app/styles/themes/orange";

html {
    scroll-behavior: smooth
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background-color: var(--bg-color);
    transition: var(--transition-theme-bg);
}

.app_redesigned {
    background-color: var(--bg-redesigned);
    font: var(--font-m-redesigned);
    color: var(--text-redesigned)
}

*::-webkit-scrollbar {
    width: .75rem;
    height: .5rem;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 1.25rem;
    border: .125rem solid var(--primary-color);
}
