* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    border: none;
}

a {
    text-decoration: none;
}
