.options {
    position: absolute;
    z-index: var(--listbox-z-index);
    border-radius: .75rem;
    min-width: var(--button-width);
}

.label {
    color: var(--text-redesigned);
}

.item {
    min-width: var(--button-width);
    background-color: var(--dark-bg-redesigned);
    position: relative;
    cursor: pointer;
    padding: .5rem 1rem;

    &.first {
        border-radius: .75rem .75rem 0 0;
    }

    &.last {
        border-radius: 0 0 .75rem .75rem;
    }


}

.focus {
    background-color: var(--light-bg-redesigned);
}

.selected {
    background-color: var(--light-bg-redesigned);

    &::after {
        content: "<";
        position: absolute;
        right: .5rem;
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: .7;
    box-shadow: none;
}
