.ArticleDetails {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 1.25rem;
}

.skeleton {
    margin-top: 0.9375rem;
}

.articleInfo {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .5rem;
}
