.AddCommentForm {
    border: .0625rem solid var(--primary-color);
    padding: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    flex-grow: 1;
}
