.Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;

    &.down {
        .sheet {
            left: 2vw;
            height: calc(100vh + 6.25rem);
            width: 96vw;
            border-radius: .75rem .75rem 0;
        }

    }

    &.left {
        .sheet {
            left: 0;
            max-width: 80%;
            border-radius: 0 .75rem .75rem 0;

        }

    }

    .transparent.transparent {
        background: none;
        padding: 0;
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0%);
    }
}

.sheet {
    z-index: var(--modal-z-index);
    position: fixed;
    touch-action: none;
}

.drawerNew {
    .sheet {
        background-color: var(--dark-bg-redesigned);
        padding: 1rem;
    }
}

.drawerOld {
    .sheet {
        background-color: var(--bg-color);
    }
}
