.MobileContentLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    width: 100%;
    overflow: auto;
    * {background-color: var(--bg-redesigned)};

    &.sticky {
        position: sticky;
        top: var(--navbar-redesighed-height);
        z-index: var(--navbar-z-index);
    }
}

.popover {
    position: fixed;
    left: 0;
    bottom: 0;
}
