.Sidebar {
    padding-top: 4rem;
    height: 100vh;
    margin-top: calc(var(--navbar-height) * -1);
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: sticky;
    top: 0;
    transition: var(--transition-theme-bg), min-width .5s ease-out, max-width .5s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    .switchers {
        position: absolute;
        bottom: 2rem;
        min-height: 1rem;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem 1.5rem;
    }
}


.collapsBtn {
    position: absolute;
    left: var(--sidebar-width);
    bottom: 2rem;
    transition: left .5s ease-out, padding-left .3s, padding-right .3s, var(--transition-theme-bg);
    border-radius: 0 .25rem .25rem 0;

    &:hover {
        padding-left: 1rem;
        opacity: 1;
    }
}




.itemsDeprecated {
    margin-left: calc(var(--sidebar-width-collapsed) / 2 - 1rem);
}


.collapsed {
    min-width: var(--sidebar-width-collapsed);
    max-width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .collapsBtn {
        left: var(--sidebar-width-collapsed);

        &:hover {
            padding-right: 1rem;
            padding-left: 0;
        }
    }
}


// ulbi redesigned

.SidebarRedesigned {
    position: relative;
    background-color: var(--light-bg-redesigned);
    width: 13.75rem;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: width .75s ease-in-out, var(--transition-theme-bg);
    overflow-x: hidden;
    overflow-y: auto;

    .appLogo {
        svg {
            transition: width .75s ease, height .75s ease;
        }
    }

     .collapsBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(90deg);
    }

    .switchers {
        width: 100%;
        min-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        overflow-x: hidden;
    }

    .items {
        flex-grow: 1;
    }
}

.collapsedRedesigned {
    width: 3.125rem;

    .collapsBtn {
        transform: rotate(-90deg);
    }

    .switchers {
        flex-direction: column;
    }
}

