.Sidebar {
    padding-top: 4rem;
    height: 100vh;
    margin-top: calc(var(--navbar-height) * -1);
    min-width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: sticky;
    top: 0;
    transition: var(--transition-theme-bg), min-width .5s ease-out, max-width .5s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}


.collapsBtn {
    position: absolute;
    left: var(--sidebar-width);
    bottom: 2rem;
    transition: left .5s ease-out, padding-left .3s, padding-right .3s, var(--transition-theme-bg);
    border-radius: 0 .25rem .25rem 0;

    &:hover {
        padding-left: 1rem;
        opacity: 1;
    }
}


.switchers {
    position: absolute;
    bottom: 2rem;
    min-height: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem 1.5rem;
}

.items {
    margin-left: calc(var(--sidebar-width-collapsed) / 2 - 1rem);
}


.collapsed {
    min-width: var(--sidebar-width-collapsed);
    max-width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .collapsBtn {
        left: var(--sidebar-width-collapsed);

        &:hover {
            padding-right: 1rem;
            padding-left: 0;
        }
    }
}


//ulbi redesigned

.SidebarRedesigned {
    background-color: var(--light-bg-redesigned);
    width: 13.75rem;
    height: 100%;
    border-radius: 2rem;
}

.appLogo {
    padding-top: 1.25rem /* 20/16 */
;
}
