.SidebarItem {
    fill: var(--bg-color);
    stroke: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: .5rem;
    text-wrap: nowrap;

    svg {
        fill: var(--bg-color);
        min-width: 2rem;
        min-height: 2rem;
        transition: stroke .2s ease, fill .2s ease;

    }
}

.linkText {
    opacity: 1;
    transition: opacity .2s ease;
}

.collapsed {
    .linkText {
        opacity: 0;
    }
}
