.react-body {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: roll 15s linear infinite;

    &.new {
        .react-ball {
            background-color: var(--accent-redesigned);

        }
        .react-ellipse {
            border: .25rem solid var(--accent-redesigned);
        }
    }
    &.old {
        .react-ball {
            background-color: var(--primary-color);
        }
        .react-ellipse {
            border: .25rem solid var(--primary-color);
        }
    }
}

.react-ball {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.react-ellipse {
    position: absolute;
    width: 4rem;
    height: 12rem;
    border-radius: 50%;
}

.ellipse1 {
    transform: rotate(30deg);
}

.ellipse2 {
    transform: rotate(-30deg);
}

.ellipse3 {
    transform: rotate(90deg);
}

@keyframes roll {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
