.Page {
    flex-grow: 1;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    overflow-y: auto;
    width: calc(100vw - var(--sidebar-width));
}

.storybook {
    width: auto;
}

.trigger {
    height: 1.25rem;
    margin: 2.5rem;
}
