.MobileLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 1rem
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-redesighed-height);
    padding: 0 .5rem;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--light-bg-redesigned);
}

.toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .5rem;
}

.sidebar {
    height: 100vh;
}

.content {
    flex-grow: 1;
}
