.app_dark_theme {
    --bg-color: #222;
    --inverted-bg-color: #ddd;
    --primary-color: #fe7f2d;
    --inverted-primary-color: #0180d2;
    --secondary-color: #fcca46;
    --inverted-secondary-color: #0335b9;
}