.app_light_theme {
    --bg-color: #CCCC99;
    --inverted-bg-color: #090814;
    --primary-color: #d62828;
    --inverted-primary-color: #29d7d7;
    --secondary-color: #393e41;
    --inverted-secondary-color: #c6c1be;
    --skeleton-shadow: #00000025;
    --skeleton-color: #d61010;
    --code-bg: #ffffffA0;
    --card-bg: #9f9f7d;
    --article-date: #9f9f7dA0;
    --article-list-big-text-blur-at-end: linear-gradient(var(--article-date), var(--article-date), var(--card-bg));
}
