.app_light_theme {
    --bg-color: #f6f7eb;
    --inverted-bg-color: #090814;
    --primary-color: #d62828;
    --inverted-primary-color: #29d7d7;
    --secondary-color: #393e41;
    --inverted-secondary-color: #c6c1be;
}