.app_light_theme {
    --bg-color: #CCCC99;
    --inverted-bg-color: #090814;
    --primary-color: #d62828;
    --inverted-primary-color: #29d7d7;
    --secondary-color: #393e41;
    --inverted-secondary-color: #c6c1be;
    --skeleton-shadow: #00000025;
    --skeleton-color: #d61010;
    --code-bg: #ffffffA0;
    --card-bg: #9f9f7d;
    --article-date: #9f9f7dA0;
    --listbox-bg: #9f9f7d;

    //ulbi redesign
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;
}
