.app_orange_theme {
    --bg-color: #ffffff;
    --inverted-bg-color: #FF6600;
    --primary-color: #111111;
    --inverted-primary-color: #88e7e7;
    --secondary-color: #CC3300;
    --inverted-secondary-color: #293241;
    --skeleton-shadow: #00000025;
    --skeleton-color: #110500;
    --code-bg: #ffffffA0;
    --card-bg: #aa9d9d;
    --article-date: #aa9d9dA0;
    --listbox-bg: #aa9d9d;

    //ulbi redesign
    --dark-bg-redesigned: #FFF3D6;
    --bg-redesigned: #F0C048;
    --light-bg-redesigned: #F2D791;
    --text-redesigned: #1B1311;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #4875F0;
    --accent-redesigned: #1D59FF;
}
