.MainLayout{
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-areas:
                'sidebar content rightbar';
    grid-template-columns: min-content  1fr 6.25rem;
}

.sidebar {
    grid-area: sidebar;
    padding: 2rem 0 2rem 2rem;
    max-width: 17.75rem;
}

.sidebar,
.rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.content {
    grid-area: content;
    max-width: 75rem;
    width: 100%;
    justify-self: center;
    padding: 2rem 2rem 2rem 0;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.toolbar {
    height: 100%;
}

.header {
    margin: 0;
}
