.Icon {
    transition: fill .2s ease, stroke .2s ease;
}

.primary {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.secondary {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
}


.inverted {
    fill: var(--inverted-primary-color);
    stroke: var(--inverted-primary-color);
}
