.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  background-color: var(--inverted-bg-color);
  padding: 1.25rem;
    transition: var(--transition-theme-bg);
}

.links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
