.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: .125rem .625rem;

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesigned);
        }

    }
}

.withAddon {
    padding: 0.1875rem 1rem;
}

.addonLeft svg,
.addonRight svg {
    color: var(--hint-redesigned);
}

.clear {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    line-height: 0 !important;
}

.outline {
    background: none;
    border: .0625rem solid var(--icon-redesigned);
    border-radius: 2.125rem;
    padding: .5rem 1rem;

    &:hover {
        border: .0625rem solid var(--accent-redesigned);
    }
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 2.125rem;
}

.square {
    padding: 0;
}

.square.m {
    width: calc(var(--font-line-m));
    height: calc(var(--font-line-m));
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned)
}

.xl {
    font: var(--font-xl-redesigned)
}

.disabled {
    opacity: .5;
}
