.ProfileCard {
    margin-top: 1rem;
    padding: .625rem;
    border: .125rem solid var(--inverted-bg-color);
    transition: border .2s ease;
}

.avatarWrapper {
    align-self: center;
}


.loading,
.error {
    height: 20rem;
}

.editing {
    border: .125rem solid var(--primary-color);
}

.editAvatarBtn {
    align-self: flex-start;
}

.imgLink {
    width: 100%;
}
