.ProfileCard {
    padding: .625rem;
    border: .125rem solid var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    gap: 1.875rem
}

.header {
    display: flex;
}

.data {
    display: flex;
    flex-direction: column;
    gap: .625rem
}

