.CommentCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: .75rem;
    border: 0.0625rem solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
    gap: .5rem
}
