.InputWrapper {
    transition: border .2s ease-in-out;
    border-radius: 3rem;
    padding: .5rem 1rem;
    border: .125rem solid var(--icon-redesigned);
    height: 2.375rem;
    width: 100%;
}

.withAddonLeft {
    padding-left: .5rem;
}

.withAddonRight {
    padding-right: .5rem;
}

.input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: .7;
}

.focused {
    border: 0.125rem solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        color: var(--accent-redesigned);
    }
}

.label {
    text-wrap: nowrap;
}
