.InputWrapper {
    transition: border .2s ease-in-out;
    border-radius: 3rem;
    padding: .375rem 1rem;
    border: .125rem solid var(--icon-redesigned);
    width: 100%;

    &.bold {
        .input {
            font-weight: 700;
        }
    }

    &.transparent {
        border: none;
        padding: .375rem 0;

        &.focused {
            border: none;
            color: var(--accent-redesigned);
        }
    }
}

.withAddonLeft {
    padding-left: .5rem;
}

.withLabel {
    padding-left: 0;
}

.withAddonRight {
    padding-right: .5rem;
}

.input {
    width: 100%;
    color: var(--text-redesigned);

    &::placeholder {
        color: var(--hint-redesigned);
    }

    &.s {
        font: var(--font-s-redesigned);
    }
    &.m {
        font: var(--font-m-redesigned);
    }
    &.l {
        font: var(--font-l-redesigned);
    }
    &.xl {
        font: var(--font-xl-redesigned);
        font-weight: 700;
    }
}

.readonly {
    opacity: .7;
}

.focused {
    border: 0.125rem solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        color: var(--accent-redesigned);
    }
}

.label {
    text-wrap: nowrap;
}
