.AppLink {
  transition: opacity .1s ease;

  &:hover {
    opacity: .8;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}

.non-invert {
    color: var(--primary-color)
}
