.TextareaInput {
    transition: border .2s ease-in-out;
    border-radius: 2rem;
    padding: .5rem 1rem;
    border: .125rem solid var(--icon-redesigned);
    line-height: 18px;
    width: 100%;
    color: var(--text-redesigned);
    height: 2.375rem;
    overflow: hidden;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.focused {
    border: 0.125rem solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        color: var(--accent-redesigned);
    }
}
